# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


DATABASE_URL="postgresql://user:pwd@railway.app:port/servicecharge"
VERIFY_EMAIL_SECRET="verify-email-secret"
SESSION_SECRET="session-secret"
MAIL_HOST="smtp.postmarkapp.com"
MAIL_PORT=587
MAIL_USER="mail-user"
MAIL_PASSWORD="mail-password"
MAIL_FROM="postmark-email"
